<html lang="en" class=" ">

<head>
  <%- include('partials/dashboardHeader') %>
</head>

<body class="nav-md">
  <div class="container body">

    <!-- /top navigation -->
    <%- include('partials/menu') %>
      <!-- page content -->
      <!-- Totals -->
      <div class="right_col" role="main" style="min-height: 955px;">
        <%- include('partials/totalsRow') %>

          <!-- Graph -->
          <div class="row">
            <div class="col-md-8">
              <div class="x_panel">
                <div class="col-md-12 col-sm-12">
                  <div class="x_title">
                    <h2>Dividend<small>Diversification</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                          aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Settings 1</a>
                          <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <canvas id='ValueGrowth'></canvas>
                  </div>
                </div>
              </div>
            </div>
            <script>
              let chart = document.getElementById('ValueGrowth').getContext('2d');
              let ValueChart = new Chart(chart, {
                type: 'line',
                data: {
                  labels: ['Real Estate', 'Technology', 'Finance', 'Healthcare', 'Industrials', 'S&P500'],
                  datasets: [{
                    label: 'Percentage',
                    data: [
                      30,
                      10,
                      6,
                      3,
                      12,
                      8
                    ],
                    backgroundColor: ['lightblue', 'lightgreen', 'pink', 'purple', 'turquoise', 'orange']
                  }],
                  borderWidth: 1,
                  hoverBorderWidth: 5,
                  hoverBorderColor: "#7887",
                },
                options: {}
              });
            </script>
          </div>

          <!-- Dividend Piechart -->
          <div class="row">
            <div class="col-md-8">
              <div class="x_panel">
                <div class="col-md-12 col-sm-12">
                  <div class="x_title">
                    <h2>Dividend<small>Diversification</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                          aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Settings 1</a>
                          <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <canvas id='Diversification'></canvas>
                  </div>
                </div>
              </div>
            </div>
            <script>
              let chart = document.getElementById('Diversification').getContext('2d');
              let Diversification = new Chart(chart, {
                type: 'pie',
                data: {
                  labels: ['Real Estate', 'Technology', 'Finance', 'Healthcare', 'Industrials', 'S&P500'],
                  datasets: [{
                    label: 'Percentage',
                    data: [
                      60,
                      10,
                      6,
                      3,
                      12,
                      8
                    ],
                    backgroundColor: ['lightblue', 'lightgreen', 'pink', 'purple', 'turquoise', 'orange']
                  }],
                  borderWidth: 1,
                  hoverBorderWidth: 5,
                  hoverBorderColor: "#7887",
                },
                options: {}
              });
            </script>

            <!-- Top Earners -->

            <div class="col-md-4">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Top Earners<small>Annualy</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                          class="fa fa-wrench"></i></a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                      </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title">AGNC</a>
                      <p><strong>$24,16</strong></p>
                      <p> <small>15,9 Shares @ $1,52 per share</small></p>
                      <p> <small>10,29% Yield</small></p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title">O</a>
                      <p><strong>$10,49</strong></p>
                      <p> <small>3,74 Shares @ $2,80 per share</small></p>
                      <p> <small>4,53% Yield</small></p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title">MMM</a>
                      <p><strong>$7,60</strong></p>
                      <p> <small>1,31 Shares @ $5,80 per share</small></p>
                      <p> <small>3,41% Yield</small></p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title">STORE</a>
                      <p><strong>$3,53</strong></p>
                      <p> <small>2,56 Shares @ $1,38 per share</small></p>
                      <p> <small>4,24% Yield</small></p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title">T</a>
                      <p><strong>$3,12</strong></p>
                      <p> <small>1,54 Shares @ $2,03 per share</small></p>
                      <p> <small>4,24% Yield</small></p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-3 col-sm-12 ">
          <div>
            <div class="x_title">
              <h2>Top Profiles</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                  </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <ul class="list-unstyled top_profiles scroll-view">
              <li class="media event">
                <a class="pull-left border-aero profile_thumb">
                  <i class="fa fa-user aero"></i>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Ms. Mary Jane</a>
                  <p><strong>$2300. </strong> Agent Avarage Sales </p>
                  <p> <small>12 Sales Today</small>
                  </p>
                </div>
              </li>
              <li class="media event">
                <a class="pull-left border-green profile_thumb">
                  <i class="fa fa-user green"></i>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Ms. Mary Jane</a>
                  <p><strong>$2300. </strong> Agent Avarage Sales </p>
                  <p> <small>12 Sales Today</small>
                  </p>
                </div>
              </li>
              <li class="media event">
                <a class="pull-left border-blue profile_thumb">
                  <i class="fa fa-user blue"></i>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Ms. Mary Jane</a>
                  <p><strong>$2300. </strong> Agent Avarage Sales </p>
                  <p> <small>12 Sales Today</small>
                  </p>
                </div>
              </li>
              <li class="media event">
                <a class="pull-left border-aero profile_thumb">
                  <i class="fa fa-user aero"></i>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Ms. Mary Jane</a>
                  <p><strong>$2300. </strong> Agent Avarage Sales </p>
                  <p> <small>12 Sales Today</small>
                  </p>
                </div>
              </li>
              <li class="media event">
                <a class="pull-left border-green profile_thumb">
                  <i class="fa fa-user green"></i>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Ms. Mary Jane</a>
                  <p><strong>$2300. </strong> Agent Avarage Sales </p>
                  <p> <small>12 Sales Today</small>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Weekly Summary <small>Activity shares</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">

                <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                  <div class="col-md-7" style="overflow:hidden;">
                    <span class="sparkline_one" style="height: 160px; padding: 10px 25px;"><canvas width="478" height="125" style="display: inline-block; width: 478px; height: 125px; vertical-align: top;"></canvas></span>
                    <h4 style="margin:18px">Weekly sales progress</h4>
                  </div>

                  <div class="col-md-5">
                    <div class="row" style="text-align: center;">
                      <div class="col-md-4"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                        <canvas class="canvasDoughnut" height="220" width="220" style="margin: 5px 10px 10px 0px; width: 110px; height: 110px;"></canvas>
                        <h4 style="margin:0">Bounce Rates</h4>
                      </div>
                      <div class="col-md-4"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                        <canvas class="canvasDoughnut" height="220" width="220" style="margin: 5px 10px 10px 0px; width: 110px; height: 110px;"></canvas>
                        <h4 style="margin:0">New Traffic</h4>
                      </div>
                      <div class="col-md-4"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                        <canvas class="canvasDoughnut" height="220" width="220" style="margin: 5px 10px 10px 0px; width: 110px; height: 110px;"></canvas>
                        <h4 style="margin:0">Device Share</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
          <div class="row">
            <div class="col-md-3">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Upcomming payments</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                          class="fa fa-wrench"></i></a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                      </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">DEC</p>
                      <p class="day">9</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">AGNC</a>
                      <p>$1,91</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">DEC</p>
                      <p class="day">12</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">MMM</a>
                      <p>$1,92</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">DEC</p>
                      <p class="day">15</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">O</a>
                      <p>$0,88</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">JAN</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">DLR</a>
                      <p>$0,04</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">FEB</p>
                      <p class="day">16</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">ABBV</a>
                      <p>$0,22</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Latest payments</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                          class="fa fa-wrench"></i></a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                      </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">DEC</p>
                      <p class="day">3</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">PIMMCO</a>
                      <p>$0,16</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">NOV</p>
                      <p class="day">30</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">iShares energy</a>
                      <p>$,05</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">Nov</p>
                      <p class="day">17</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">AAPL</a>
                      <p>$0,03</p>
                    </div>
                  </article>
                  <!-- <article class="media event">
                  <a class="pull-left date">
                    <p class="month">JAN</p>
                    <p class="day">23</p>
                  </a>
                  <div class="media-body">
                    <a class="title" href="#">DLR</a>
                    <p>$0,04</p>
                  </div>
                </article>
                <article class="media event">
                  <a class="pull-left date">
                    <p class="month">FEB</p>
                    <p class="day">16</p>
                  </a>
                  <div class="media-body">
                    <a class="title" href="#">ABBV</a>
                    <p>$0,22</p>
                  </div>
                </article> -->
                </div>
              </div>
            </div>



            <div class="col-md-3">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Latest News <small></small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                          class="fa fa-wrench"></i></a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                      </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item One Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Two Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Two Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Two Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                  <article class="media event">
                    <a class="pull-left date">
                      <p class="month">April</p>
                      <p class="day">23</p>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Item Three Title</a>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          <P>Personal Finance Manager by, Milan Koelen</p>
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
  </div>
</body>


</html>