<html lang="en" class=" ">

<head>
  <%- include('partials/dashboardHeader') %>
</head>

<body class="nav-md">
  <div class="container body">
    <%- include('partials/menu') %>

      <!-- page content -->
      <div class="row">
        <div class="col-md-3">
          <div class="x_panel">
            <div class="x_title">
              <h2>Upcomming payments</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                      class="fa fa-wrench"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                  </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">DEC</p>
                  <p class="day">9</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">AGNC</a>
                  <p>$1,91</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">DEC</p>
                  <p class="day">12</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">MMM</a>
                  <p>$1,92</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">DEC</p>
                  <p class="day">15</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">O</a>
                  <p>$0,88</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">JAN</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">DLR</a>
                  <p>$0,04</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">FEB</p>
                  <p class="day">16</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">ABBV</a>
                  <p>$0,22</p>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="x_panel">
            <div class="x_title">
              <h2>Latest payments</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                      class="fa fa-wrench"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                  </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">DEC</p>
                  <p class="day">3</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">PIMMCO</a>
                  <p>$0,16</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">NOV</p>
                  <p class="day">30</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">iShares energy</a>
                  <p>$,05</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">Nov</p>
                  <p class="day">17</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">AAPL</a>
                  <p>$0,03</p>
                </div>
              </article>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="x_panel">
            <div class="x_title">
              <h2>Latest News <small></small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                      class="fa fa-wrench"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                  </div>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item One Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Two Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Two Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Two Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Three Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- /page content -->

  <!-- footer content -->
  <footer>
    <div class="pull-right">
      <P>Personal Finance Manager by, Milan Koelen</p>
    </div>
    <div class="clearfix"></div>
  </footer>
  <!-- /footer content -->
  </div>
</body>

</html>