<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Financial Independence App</title>

<!-- Bootstrap core CSS -->
<!--  
<link href="/views/stocks/css/bootstrap.min.css" rel="stylesheet">
 
<link href="/views/stocks/fonts/css/font-awesome.min.css" rel="stylesheet">
<link href="/views/stocks/css/animate.min.css" rel="stylesheet"> -->



<!-- Link Tags-->

<style type="text/css">
    .jqstooltip {
        position: absolute;
        left: 0px;
        top: 0px;
        visibility: hidden;
        background: rgb(0, 0, 0) transparent;
        background-color: rgba(0, 0, 0, 0.6);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
        color: white;
        font: 10px arial, san serif;
        text-align: left;
        white-space: nowrap;
        padding: 5px;
        border: 1px solid white;
        box-sizing: content-box;
        z-index: 10000;
    }

    .jqsfield {
        color: white;
        font: 10px arial, san serif;
        text-align: left;
    }
</style>
<!-- Bootstrap -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Font Awesome -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- NProgress OKOK _____+++++_____  -->
<link href="/views/vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck OKOK _____+++++_____  -->
<link href="/views/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- bootstrap-progressbar OKOK _____+++++_____  -->
<link href="/views/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<!-- JQVMap OKOK _____+++++_____  -->
<link href="/views/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet">
<!-- bootstrap-daterangepicker OKOK _____+++++_____  -->
<link href="/views/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

<!-- Custom Theme Style -->
<link href="/views/stocks/custom.min.css" rel="stylesheet">



<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="/views/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/views/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- FastClick -->
<script src="/views/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/views/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="/views/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="/views/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="/views/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/views/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="/views/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="/views/vendors/Flot/jquery.flot.js"></script>
<script src="/views/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/views/vendors/Flot/jquery.flot.time.js"></script>
<script src="/views/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/views/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/views/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/views/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/views/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="/views/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="/views/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/views/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/views/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/views/vendors/moment/min/moment.min.js"></script>
<script src="/views/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- Custom Theme Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

<!-- script tags -->
<script src="/views/stocks/custom.min.js"></script>